version: 2.1 # Use version 2.1 to enable orb usage.

orbs:
  win: circleci/windows@2.2.0 # The Windows orb give you everything you need to start using the Windows executor.

jobs:
  build: # name of your job
    executor:
      name: win/default # executor type
      size: "medium" # resource class, can be "medium", "large", "xlarge", "2xlarge", defaults to "medium" if not specified

    steps:
      - checkout

      # install SharePoint and Project Client Object Model libraries
      # https://www.nuget.org/packages/Microsoft.SharePointOnline.CSOM/
      - run: nuget install Microsoft.SharePointOnline.CSOM

      - run: dir 
      # upload files to SharePoint Document Library
      - run:
          command: .\spLibUpload.ps1 -url https://spkuratest.sharepoint.com -library "テスト用ライブラリ" -username %USERNAME% -password %PASSWORD% -path C:\Users\circleci\project\javascript\files
          working_directory: .\javascript\tools